body{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 20px;
  flex-direction: column;

}

#box{
  height: 400px;
  width: 400px;
  background-color: rgb(20,120,90);
  border: 2px solid white;
  border-radius: 30px;
}

button{
  padding: 10px 20px;
  background-color: crimson;
  font-size: 45px;
  color: white;
  border:none;
  border-radius: 5px;
  font-weight: 600;
  cursor:pointer;

}

button:active{
  scale:0.95;
}