html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; 
}
body{
  background-color: black;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


button{
  padding:10px 20px;
  background-color: crimson;
  font-size: 35px;
  margin:20px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

button:active{
  scale: 0.95;
}
