*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  
}
body{
  background-color:black;
}

h2{
  color: white;
  padding: 20px;
  font-size: 100px;
}

button{
  margin: 30px 30px;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
background-color: yellow;
}


