html , body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;

}

h1{
  font-size: 80px;
  background-color: rgba(165, 80, 244, 0.855);
  padding: 20px 50px;
  border-radius: 30px;
  font-weight: 200;
}
button{
  padding: 10px 20px;
  background-color: rgb(68, 9, 20);
  font-size: 45px;
  color: white;
  border:none;
  border-radius: 5px;
  font-weight: 600;
  cursor:pointer;

}

button:active{
  scale:0.95;
}